body {
  background-color: #f8e8a6;
}

h1 {
  display: block;
  text-align: center;
}

p {
  display: block;
  text-align: center;
}

.croissant-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul {
  display: block;
  text-align: center;
}

.page-link {
  margin-top: 50px;
  margin: 20px;
  color: green;
}

.email-address {
  margin: none;
  color: blue;
}
